## IMPORTING IMPORTANT LIBRARIES FOR TEST

In [1]:
import pandas as pd
import numpy as np
print('Libraries imported')

Libraries imported

## CREATING A DATAFRAME

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [3]:
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

## QUESTION 1

In [4]:
A = [1,2,3,4,5,6]
B = [13,21,34]

In [5]:
A_B = A + B
print(A_B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [6]:
print('Answer is None of The above'.upper())

ANSWER IS NONE OF THE ABOVE

## QUESTION 2

In [7]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## QUESTION 3

In [8]:
fuel_avg_values = list()
fuel_type_dict = dict()
fuel_types = df['fuel_type_code_pudl'].unique().tolist()
for fuel_type in fuel_types:
    fuel_type_avg = df[(df['fuel_type_code_pudl'] == fuel_type)]['fuel_cost_per_unit_burned'].mean()
    fuel_type_dict[fuel_type] = fuel_type_avg

In [9]:
print(fuel_type_dict)

{'coal': 67.42182999882996, 'gas': 13.659396569737135, 'nuclear': 4955.157002444988, 'oil': 168.87708568948383, 'waste': 19.518122448979593, 'other': 18.253856287425158}

In [10]:
min(fuel_type_dict, key=fuel_type_dict.get)

'gas'

In [11]:
print('GAS has the lowsest fuel cost per unit burned average'.upper())

GAS HAS THE LOWSEST FUEL COST PER UNIT BURNED AVERAGE

## QUESTION 4

In [12]:
describe = df.describe()

In [13]:
describe.loc[('std','75%') , ['fuel_mmbtu_per_unit']]

     fuel_mmbtu_per_unit
std             10.60022
75%             17.00600

In [14]:
print('ANSWER is STD = 10.60 and 75TH PERCENTILE = 17.01 '.upper())

ANSWER IS STD = 10.60 AND 75TH PERCENTILE = 17.01

## QUESTION 5

In [15]:
df['fuel_qty_burned'].skew()

15.851495469109503

In [16]:
df['fuel_qty_burned'].kurtosis()

651.3694501337732

In [17]:
print('SKEWNESS = 15.85 and KURTOSIS = 651.37')

SKEWNESS = 15.85 and KURTOSIS = 651.37

## QUESTION 6

In [18]:
missing_values = df.isnull().sum()

In [19]:
missing_values

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [20]:
print('COLUMN WITH MISSING VALUE IS: \'fuel_unit \' WITH 180 VALUES MISSING')
print('shape of the data frame:', df.shape)

COLUMN WITH MISSING VALUE IS: 'fuel_unit ' WITH 180 VALUES MISSING
shape of the data frame: (29523, 11)

In [21]:
total_rows = df.shape[0]
missing_count = 180
percent_missing = (missing_count*100)/total_rows
print(percent_missing)

0.6096941367747181

In [22]:
print('MISSING VALUE PERCENTAGE IS 0.610%')

MISSING VALUE PERCENTAGE IS 0.610%

## QUESTION 7

In [23]:
print('CATEGORICAL AND MODE IMPUTATION')

CATEGORICAL AND MODE IMPUTATION

## QUESTION 8

In [24]:
corr = df.corr().sort_values('fuel_cost_per_unit_burned', axis=0, ascending=False)

In [25]:
corr.iloc[[-2,-3],[4]]

                     fuel_cost_per_unit_burned
fuel_qty_burned                      -0.018535
fuel_mmbtu_per_unit                  -0.010034

In [26]:
print('2ND AND 3RD LOWEST IS fuel_qty_burned AND fuel_mmbtu_per_unit COLUMNS RESPECTIVELY')

2ND AND 3RD LOWEST IS fuel_qty_burned AND fuel_mmbtu_per_unit COLUMNS RESPECTIVELY

## QUESTION 9

In [27]:
year1994 = df[(df['fuel_type_code_pudl'] == 'coal') & (df['report_year'] == 1994)]
year1998 = df[(df['fuel_type_code_pudl'] == 'coal') & (df['report_year'] == 1998)]

In [28]:
year1994_sum = year1994['fuel_cost_per_unit_burned'].sum()
year1998_sum = year1998['fuel_cost_per_unit_burned'].sum()
percent_change = ((year1998_sum - year1994_sum)/year1994_sum) *100

In [29]:
import math
print('PERCENTAGE CHANGE:',str(math.floor(percent_change))+'%')

PERCENTAGE CHANGE: -21%

## QUESTION 10

In [30]:
years = list(range(1994, 2018+1))
fuel_avg_dict = dict()
for year in years:
    fuel_year_avg = df[(df['report_year'] == year)]['fuel_cost_per_unit_delivered'].mean()
    fuel_avg_dict[year] = fuel_year_avg

In [31]:
print(fuel_avg_dict)

{1994: 63.636059919028284, 1995: 32.73526894254789, 1996: 9196.7059476103, 1997: 11140.19723948813, 1998: 287.15442005420147, 1999: 25.551626666666632, 2000: 985.3628769118723, 2001: 60.050396017699086, 2002: 47.594360995850664, 2003: 55.663492981007415, 2004: 139.52427516778528, 2005: 41.43818439716321, 2006: 38.65748431214803, 2007: 43.32502294303804, 2008: 58.58819706840398, 2009: 652.6941628477907, 2010: 91.86210547184778, 2011: 59.77466693548389, 2012: 60.99450201126302, 2013: 172.3075913261051, 2014: 192.73718274978663, 2015: 326.5355105215006, 2016: 103.9017611218566, 2017: 46.19686102719036, 2018: 499.26996635120963}

In [32]:
max(fuel_avg_dict, key = fuel_avg_dict.get)

1997

In [33]:
print('1997 HAS THE HIGHEST AVERAGE FUEL COST PER UNIT DELIVERED.')

1997 HAS THE HIGHEST AVERAGE FUEL COST PER UNIT DELIVERED.


# THANK YOU HAMOYE.COM FOR THIS OPPURTUNITY.